h1 {
  font-family: $lato;
  font-weight: $black;
  color: $negro;
}

h2 {
  font-family: $lato;
  font-weight: $black;
  color: $negro;
}

h3 {
  font-family: $lato;
  font-weight: $regular;
}

h4 {
  font-family: $lato;
  font-weight: $light;
  font-size: 16px;
}

h5 {
  font-family: $lato;
  font-weight: $regular;
  font-size: 12px;
}

h6 {
  font-family: $lato;
  font-weight: $light;
  font-size: 10px;
}

p {
  font-family: $lato;
  font-weight: $light;
  font-size: 14px;
}
